* {
    margin: 0;
    padding: 0;
}

.Cabeçalho{
font-size: 35px;
color: dimgray;
font-style: italic;
display: flex
}

.Informações{
font-size: 25px;
color: dimgray;
font-style: italic;
display: flex;
}